
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @elmerfdz				 */
/*			      https://github.com/elmerfdz/theme.park			 */

/* PROTECT THEME */

.hHxTsq {
    background: #1f1f1f !important;
}

.keEOUG {
    background-color: #1f1f1f !important;
}

.DashboardPage__Widget-sc-9ml7sj-1.DashboardPage__LeftSide-sc-9ml7sj-2.DashboardPage__NvrTop-sc-9ml7sj-3.hSpUCM {
    background: #1f1f1f !important;
}

.hHxTsq .DashboardPage__NvrTop-sc-9ml7sj-3, .hHxTsq .DashboardPage__NvrBottom-sc-9ml7sj-4 {
    background: #1f1f1f !important;
}

.text-light-primary__nyfoNDdj {
    color: white !important;
}