/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

body {
  background: var(--main-bg-color);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  color: #ffffff;

}

.modal-content {
    background-color: rgb(24, 26, 27);
    border-top-color: rgba(102, 102, 102, 0.2);
    border-right-color: rgba(102, 102, 102, 0.2);
    border-bottom-color: rgba(102, 102, 102, 0.2);
    border-left-color: rgba(102, 102, 102, 0.2);
    outline-color: initial;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 9px;
}

.main-panel {
    background-color: var(--main-bg-color);
}

.card .title {
    color: rgb(219, 216, 211);
}

.card {
    box-shadow: rgba(54, 48, 39, 0.5) 0px 2px 2px;
    background-color: rgb(24, 26, 27);
    color: rgb(219, 216, 211);
}

.ct-label {
    fill: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 0.9em;
    line-height: 1;
}

.ct-label {
    fill: rgba(232, 230, 227, 0.4);
    color: rgba(232, 230, 227, 0.4);
}

.card .labels p {
    color: rgb(196, 192, 183);
}

.sidebar[data-background-color="black"]::after, .sidebar[data-background-color="black"]::before, .off-canvas-sidebar[data-background-color="black"]::after, .off-canvas-sidebar[data-background-color="black"]::before {
    background-color: rgb(31, 33, 34);
}


.text-primary, .text-primary:hover {
    color: rgb(156, 198, 207);
}

a {
    color: rgb(125, 190, 208);
}

.row-clickable.active {
    background-color: rgb(27, 29, 30);
}


element.style {
    color: var(--darkreader-inline-color) !important;
}

label.form-check-label {
    color: var(--darkreader-inline-color) !important;
}