
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* PROTECT THEME */

._27YaZlmifXUsOE9rUw9i_B {
    background-color: #1F1F1F !important;
    color: #525461;
}
._35TeXrEbXz1DJRlCCuDX7n {
    background-color: #000 !important;
}
._2HYmQTukRfhpDtM5cekqOC {
    color: #d6d9e2;
    background-color: #000 !important;
}

._34KmRecsMm3k-xdy0mRdHz {
    background-color: #0d0d0d !important;
    border-bottom: none !important;
    color: #FFF !important;
}

._3Y870hNbAZhGnVkVtXcHiz {
    --button-font-color: #fff !important;
}

.mZlcP86qLKhRqVdAQWp4z td {
        background-color: #1f1f1f !important; 
}

.layout__ToolBar-sc-3kzyne-4.jhiOrD {
    background-color: #1f1f1f !important;
    /* color: #fff; */
}