
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @elmerfdz				 */
/*			      https://github.com/elmerfdz/theme.park			 */

/* PROTECT THEME */

._27YaZlmifXUsOE9rUw9i_B {
    background-color: #1F1F1F !important;
    color: #525461;
}
._35TeXrEbXz1DJRlCCuDX7n {
    background-color: #000 !important;
}
._2HYmQTukRfhpDtM5cekqOC {
    color: #d6d9e2;
    background-color: #000 !important;
}

._34KmRecsMm3k-xdy0mRdHz {
    background-color: #0d0d0d !important;
    border-bottom: none !important;
    color: #FFF !important;
}

._3Y870hNbAZhGnVkVtXcHiz {
    --button-font-color: #fff !important;
}

.mZlcP86qLKhRqVdAQWp4z td {
        background-color: #1f1f1f !important; 
}

.layout__ToolBar-sc-3kzyne-4.jhiOrD {
    background-color: #1f1f1f !important;
    border-color: #3a393d !important;
    /* color: #fff; */
}

._34KmRecsMm3k-xdy0mRdHz.VLBjta4s-q9n3HMJlBuSJ {
    background-color: #1f1f1f !important;
}

._2DI_Zp6C9YL_ntdeFOhiYm {
    background-color: #1f1f1f !important;
}

.CameraPanel__PropertyPanelHeader-sr91yl-0.dJartq {
    border: none !important;
    background-color: #0d0d0d;
}

._2bZMaC_ZZ5n2Y5ApUlrhGi {
    box-shadow: 0 0 13px #000 !important;
}

._3XIQiec6jEqHjD_JiF2Vtd._1sh02A_FRr6hJHV75UUOpi._2bZMaC_ZZ5n2Y5ApUlrhGi._3xSt6UczwYp2mRvphKkKux._31NM611_W7WOEJO3N9obWC {
    border: none !important;
}

/* Side control pannels */
.PanelFooterForm__FieldArea-sc-3le9ui-1.eWvKNF {
    background-color: #1f1f1f !important;
}

.type-ubnt-title, .type-ubnt-title-secondary {
    color: var(--text-color-secondary) !important;
}

.AyKm3GUhZ5M6MRHgtnwvc {
    color: var(--text-color-secondary) !important;
}

.Text-module_primaryTitle-light__2rXTo {
    color: var(--text-color-tertiary) !important;
}


.Dropdown-module_option-default-light__2gRnV.Dropdown-module_selected__3g4fj, .Dropdown-module_option-default-light__2gRnV:hover {
    background-color: #1f1f1f !important;
}

.Dropdown-module_option-default__3VCDB, .Dropdown-module_option__35fXo {
    background-color: #0d0d0d !important;
    border: none !important;
}

.Dropdown-module_options-default-light__2Z6bc {
    border: 1px solid #3a393d !important;
    background-color: #fff !important;
}